<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilepolicedevice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".PersonInfoActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.mobilepolicedevice.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilepolicedevice.FingerPrintActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilepolicedevice.FingerPrintMatch"
            android:parentActivityName="com.example.mobilepolicedevice.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilepolicedevice.InformationRecordActivity"
            android:parentActivityName="com.example.mobilepolicedevice.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.mobilepolicedevice.CarActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.example.service.TestService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="com.example.service.UploadNormalRecordService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name="com.example.broadcastreceiver.AlarmReceiver" >
        </receiver>
    </application>

</manifest>